
* {
    border: solid red;
}



.row {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.col {
    padding: 5px;
    margin: 10px;
}