
* {
    margin: 0;
    padding: 0;
}


:root {
    --bgColor1: #EEF73B ;
    --bgColor2: #283768 ;
    --textColor1: #FFC745 ;
}

body {
    background-color: var(--bgColor1);

    display: grid;
    text-align: center;
}

header, footer {
    background-color: var(--bgColor2);
    color: var(--textColor1);
    width: 100%;
    margin: 5px;
    
}


/* * || sm */

@media screen and (min-width: 465px) {
    body {
        background-color: aliceblue;
    }

    header nav {
        display: none;
    }

    section main {
        align-content: center;
        height: 500px ;
        
    }
}

/* * || Large */

@media screen and (min-width: 745px) {
    body {
        background-color:aquamarine;
    }

    header nav {
        display: grid;
    }

    section main {
        align-content: center;
        height: 500px;

    }

    footer address p {
        font-size: 2rem
    }

}
