
:root {
    --boxcolor1: #4BE843 ;
    --boxcolor2: #43E8AD ;
    --boxcolor3: #43E875 ;
}   


.items {
    width: 100px;
    height: 300px;
}

/* * justify-content */

.parentContent {
    display: flex;
}

.parentContent .items {
    justify-content: center;
}

.items1 {
    background-color: var(--boxcolor1);
}
